.loginBlock {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    width: 1600px;
    height: 100vh;
}
.loginForm {
    width: 800px;
}
.loginForm h1 {
    width: 120px;
    height: 48px;
    margin-left: 340px;
    margin-top: 255px;
}
.img {
    width: 800px;
}